// TODO stillingar hér
$max-width: 1240px;
$gutter: 20px;
$title-font: 'Oswald', sans-serif;
$green: #afb281;
$yellow: #fcffd2;
$pink: #cc9694;
$black: #000000;
$white: #ffffff;
$lightblue: #cee8ff;
$header-fontsize: 40px;